.point-item{
  width: 100%;
  font-size:32px;
  padding: 30px;
  font-weight:500;
  color:rgba(12,17,36,1);
  line-height: 1;
  box-sizing: border-box;
  background:rgba(255,255,255,1);
  .line-1{
    justify-content: space-between;
    padding: 10px 0;
    .left{
      display: flex;
      align-content: center;
    }
    .imei{
      height:32px;
      border-radius:4px;
      padding: 0 20px;
      font-size:30px;
      line-height: 32px;
      display: inline-block;
      font-weight:400;
      color:rgba(12,17,36,1);
    }

    .device-name{
      height:32px;
      display: inline-block;
      font-size:30px;
      line-height: 32px;
      font-weight:bold;
      color:rgba(12,17,36,1);
    }


  }
  .label{
    font-size:28px;
    font-weight:500;
    color:rgba(96,103,123,1);
    padding-top: 10px;
    line-height: 44px;
  }
}
