page{
  height: 100%;
  background-color: #F2F4F7;

  .placeholder-style{
    font-size:24px;
    font-weight:500;
    color:#9BA2AF;
  }
}
.modal-box{
  .at-modal__container{
    width: 610px;
  }
}
.load-more{
  height: 80px;
  margin-bottom: 20px;
}


.tag{
  display: inline-block;
  border-radius:15px;
  font-size:20px;
  font-weight:500;
  line-height: 30px;
  padding: 0 20px;
  margin-right: 20px;
}
.normal{
  color:rgba(74,102,162,1);
  background:rgba(241,246,255,1);
  border:1px solid rgba(74,102,162,1);
}
.error{
  color:rgba(247,145,83,1);
  background:rgba(255,246,240,1);
  border:1px solid rgba(247,145,83,1);
}
.right{
  font-size:24px;
  font-weight:400;
  line-height: 32px;
  color:rgba(155,162,175,1);
}
